version: "3.9"

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER:  ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - pgdata_prod:/var/lib/postgresql/data
    restart: unless-stopped

  backend:
    build: ./backend
    env_file: .env.prod
    depends_on:
      - db
    ports:
      - "8000"
    volumes:
      - static_volume:/app/staticfiles
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      args:
        APP_ENV: production
    env_file:
      - .env.prod
    depends_on:
      - backend
    ports:
      - "80"
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    depends_on:
      - frontend
      - backend
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./deploy/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
      - static_volume:/staticfiles
    restart: unless-stopped

volumes:
  pgdata_prod:
  static_volume:
