
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: ecometrics
      POSTGRES_USER: ecometrics
      POSTGRES_PASSWORD: ecometrics
    ports:
      - "5435:5432"
    volumes:
      - pgdata_dev:/var/lib/postgresql/data

  backend:
    build: ./backend
    depends_on:
      - db
    command: python manage.py runserver 0.0.0.0:8000
    env_file: .env.dev
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"

volumes:
  pgdata_dev:
