
<footer class="border-t border-slate-800 pt-6 text-sm text-slate-500">
  <div class="flex flex-wrap items-center justify-between">

    <p class="opacity-80">
      Built as a personal project to showcase my full-stack skills.
    </p>

    <a
      href="https://github.com/HailerSH/ecometrics"
      target="_blank"
      rel="noreferrer"
      class="group inline-flex items-center gap-2 px-3 py-3 rounded-lg bg-slate-800/40
             shadow-md shadow-emerald-500/30 hover:bg-slate-800/60 transition"
    >
      <iconify-icon
        icon="mdi:github"
        class="text-2xl group-hover:text-emerald-300 transition"
      ></iconify-icon>

      <span class="text-base font-medium group-hover:text-emerald-300 transition">
        GitHub repository
      </span>
    </a>
  </div>
</footer>
