
<a routerLink="/">
  <header
    class="flex items-center justify-between rounded-2xl border border-slate-800 bg-slate-900/70 px-5 py-3
           shadow-lg shadow-emerald-500/10 backdrop-blur mb-8"
  >
    <div class="flex items-center gap-3 group w-100">
      <img
        src="/ecometrics-logo.png"
        alt="Ecometrics logo"
        class="h-8 w-8 opacity-90 transition group-hover:opacity-100"
      />

      <span
        class="text-lg font-semibold bg-gradient-to-r from-emerald-300 to-cyan-300 bg-clip-text text-transparent"
      >
        ecometrics
      </span>
    </div>
  </header>
</a>
